
 .jumbotron {
    background-color: rgb(255, 255, 255); 
    color: yellow;
    margin-top: 40px; 
}
  .btn  {
  	color:pink;
  	}


 footer {

        padding: 10px 10px 0 10px;
        background-color: #ebebeb;
        margin-bottom: 10px;
        margin-top: 10px;
      
}

.footer-address-icon {
  padding-right: 10px;
}
.color-lista1{
  background-color: pink;
}

.centrado  {
  margin:-50px auto;
  display:block;
  width: 20%;
}
  .card-img-top {
  width: 200px;
  height: 400px;
  object-fit: cover;
}

  .tab-contet {
    padding-top: 10px;
  }

  #myCarousel.carousel.slide {
    width: 100%; 
    max-width: 400px; 
    display: !important;
}